.v-0
  margin: 0 !important
  padding: 0 !important

.v-margin
  margin: .5em .5rem !important

.v-margin-0
  margin: 0 !important

.v-padding
  padding: .5em .5rem !important

.v-padding-0
  padding: 0 !important

.v-grid
  display: flex
  padding: .5em .5rem
  position: relative

  &__item
    flex: auto 1 1

    &--33
      flex: 33% 0 0

    &--66
      flex: 66% 0 0

    &--100
      flex: 100% 0 0

    &--end
      align-self: flex-end

  &--column
    flex-direction: column

  &--center-items
    align-items: center

  &--end-items
    align-items: flex-end

  &--between
    justify-content: space-between

  &--end
    justify-content: flex-end
