.c-account
  background-color: #5b5b5b
  text-align: right
  padding: .5em .5rem
  &__form
    align-items: center
    display: flex
    flex-direction: row
    justify-content: space-between
  &__name
    color: #fafafa
    font-size: 1.5em
    padding: .5em .5rem
  &__submit
    margin: .5em .5rem
    padding: .5em 1.5rem
    border-radius: 2em
    font-size: 1.5em
    &:active
      opacity: .5
