doctype html
html(lang='pt')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title= title
    meta(name='url' content=url)

    block head
  body
    block content

  script(
    async=''
    type='text/javascript'
    src='/public/app.js'
  )
