flex-version = flex
support-for-ie = false
vendor-prefixes = official

@import 'fonts'
@import 'variables'

global-reset()
reset-html5()

html
  box-sizing: border-box
  font-size: $font-size

*, *:before, *:after
  box-sizing: inherit

body
  font-family: $font-content, $font-content-base
  margin: 0

@media screen and (min-width: 320px)
  #mount
    font-size: 1em

@media screen and (min-width: 375px)
  #mount
    font-size: 1.1em

@media screen and (min-width: 768px)
  #mount
    font-size: 1.25em

a
  display: block
  color: inherit
  text-decoration: none

input
  outline: none
  border: none

select
  padding: .5em .5rem
  width: 100%

@import './views'
@import './pages'
