.c-tracks
  .c-track
    &__artist
      flex: 1
    &__content
      overflow: hidden

.c-track
  &__artist
    color: #616161
    font-size: 1.5em
    font-weight: 400
    margin: 0
    width: 100%

  &__button
    position: relative
    top: .5em
    left: .5rem

  &__image
    height: 0
    padding-bottom: 100%
    background-size: cover
    background-repeat: no-repeat
    background-position: 50% 50%

  &__message
    top: .5em
    margin: 0 .5rem

  &__title
    font-size: 2em
    font-weight: 400
    margin: 0
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    width: 100%

    a
      overflow: hidden
      text-overflow: ellipsis
