.v-button
  padding: 0.5em 2rem
  font-size: 1.5em
  color: #5b5b5b
  border-radius: 10em

  &--submit
    background-color: #2ebd59
    color: #fafafa;

  &--primary
    background-color: #fafafa
    color: #2ebd59
