@import './account'
@import './button'
@import './grid'
@import './loading'
@import './message'
@import './text'

.container
  margin: auto
  max-width: 48em
  padding: .25em .25rem

.c-close
  color: #616161
  cursor: pointer
  font-size: 2em
  padding: 0 .1em
